[submodule "externals/evernote-thrift"]
	path = externals/evernote-thrift
	url = git://github.com/evernote/evernote-thrift.git
[submodule "externals/thrift"]
	path = externals/thrift
	url = git://github.com/fmoo/thrift.git
